

<!-- Toolbar -->
<div class="toolbar">
  <span>Sleep Now.</span>
</div>

<div class="content" role="main">

  <!-- Resources -->
  <h1 class="current-time">{{ currentTime | date:'shortTime' }}</h1>
  <!-- <p>updated time: {{ newTime | date:'shortTime' }}</p> -->

  <div> 
    <!-- <button (click)="minusFifteen()">-15</button> -->
    <button (click)="sleepNow()" class="sleep-button">Sleep now</button>
    <!-- <button (click)="plusFifteen()">+15</button> -->
  </div>

  <!-- <div *ngIf="!sleepNowClicked">
    <img src="assets\sleepyluffy.gif" alt="Animated GIF" class="luffy">
  </div> -->


<div class="time-container" *ngIf="sleepNowClicked" @fade>
  <p class="intro-text">Wake up at any of these times to feel refreshed.</p>
      <!-- <p>{{wakeUpTime | date:'shortTime'}}</p> -->
      <div class="card-container" *ngIf="sleepNowClicked">
      <div class="card rec" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeOne | date:'shortTime'}}</span>
        <span class="hours-slept">9 hr sleep</span>
      </div>
      <div class="card rec" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeTwo | date:'shortTime'}}</span>
        <span class="hours-slept">7.5 hr sleep</span>
      </div>
      <div class="card" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeThree | date:'shortTime'}}</span>
        <span class="hours-slept">6 hr sleep</span>
      </div>
    </div>

    <div class="card-container" *ngIf="sleepNowClicked">
      <div class="card" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeNapOne | date:'shortTime'}}</span>
        <span class="hours-slept">4.5 hr nap</span>
      </div>
      <div class="card" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeNapTwo | date:'shortTime'}}</span>
        <span class="hours-slept">3 hr nap</span>
      </div>
      <div class="card" target="_blank" rel="noopener">
        <span class="time">{{wakeUpTimeNapThree | date:'shortTime'}}</span>
        <span class="hours-slept">1.5 hr nap</span>
      </div>
    </div>
  </div>

 

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
